* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/1600x1000/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    margin: 2rem;
    width: 95%;
    max-width: 50rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: rgba(87, 95, 95, 0.219);  
    color: white;
    padding: 2rem;
    opacity: 0.8;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search input {
    width: 90%;
    max-width: 40rem;
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 15px;
    cursor: pointer;
}

.search button {
    width: 5rem;
    height: 3rem;
    border-radius: 50rem; 
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.icon_search {
    width: 35px;
    border-radius: 2rem;
    cursor: pointer;
}

.sky {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 15px;
    text-transform: capitalize;
}

.text_information {
    text-transform: uppercase;
}
